.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-template-rows: repeat(auto-fill, 27rem);
  }
  
  .titlePage {
    flex-grow: 1;
  }
  
  .rightPanel {
    width: 250px;
  }
  
  .paperModal {
    position: absolute;
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0px 0px 30px black;
    padding: 16px 32px 24px;
  }
  
  .taskModalPosition {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .chartModal {
    background-color: white;
    border: 2px solid #000;
    //box-shadow: 0px 0px 30px black;
    padding: 16px 32px 24px;
    margin: 10px;
  }